// ==================================
// VARIABLES
// ==================================
$green-bleak: #c3e2b9;
$green-light: #76dd53;
$green-primary: #48bc20;
$green-dark: #268008;
$text-color-primary: #1c1c1c;

// ==================================
// MIXINS & FUNCTIONS
// ==================================
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop-xxsm {
    @media (max-width: 379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xsm {
    @media (max-width: 575px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-width: 1199px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xl {
    @media (max-width: 1379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-width: 1720px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xxxl {
    @media (max-width: 1900px) {
      @content;
    }
  }
}

@function resize($base, $value) {
  $result: $base * $value;
  @return $result;
}

// ==================================
// GENERAL SETTINGS
// ==================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  
    font-size: 62.5%;   //1rem = 10px 10px/16 62.5%

    @include respond(desktop-xl) {
      font-size: 60%;
    }

    @include respond(desktop-lg) {
      font-size: 57.5%;
    }

    @include respond(desktop-md) {
      font-size: 55%;
    }

    @include respond(desktop-sm) {
      font-size: 50%;
    }

    // @include respond(desktop-xsm) {
    //   font-size: 45%;
    // }

    @include respond(desktop-xxsm) {
      font-size: 45%;
    }
}

body {

    box-sizing: border-box;
    //font-family: Arial, Helvetica, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: $text-color-primary;
    overflow-x: hidden;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
      width: 0 !important;
  }
}

// ==================================
// UTLITIES
// ==================================
// .container {
//   padding-left: 5rem;
//   padding-right: 5rem;
//   display: inherit;
//   margin: 0 auto;
//   width: 100%;
//   max-width: 125rem;

//   @include respond(desktop-md) {
//     padding-left: 10%;
//     padding-right: 10%;
//   }

//   @include respond(desktop-xsm) {
//     padding-left: 5%;
//     padding-right: 5%;
//   }

//   @include respond(desktop-xxsm) {
//     padding-left: 10%;
//     padding-right: 10%;
//   }
// }
.container {
  padding-left: 5rem;
  padding-right: 5rem;
  // display: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: 133rem;

  @include respond(desktop-md) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include respond(desktop-xsm) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include respond(desktop-xxsm) {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.btn {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all .3s ease-in-out;
  transition-property: background-color, color;
  white-space: nowrap;
  border: solid 1.5px transparent;

  &-primary {
    color: #FFF;
    background-color: $green-primary;

    &:hover,
    &:focus {
      background-color: $green-light;
    }

    &.outline {
      color: $green-primary;
      background-color: #FFF;
      border-color: $green-primary;

      &:hover,
      &:focus {
        color: #fff;
        border-color: $green-light;
        background-color: $green-light;
      }
    }
  }

  &-white {
    padding: 1.9rem 3.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.77px;
    color: #48bc20;
    color: $green-primary;
    border-radius: 4px;
    background-color: #FFF;

    &:hover,
    &:focus {
      color: #FFF;
      background-color: $green-light;
    }

    &.outline {
      color: #FFF;
      border-color: #FFF;
      background-color: transparent;

      &:hover,
      &:focus {
        color: #FFF;
        background-color: $green-light;
        border-color: $green-light;

      }
    }
  }
}

.show-md {
  display: none;

  @include respond(desktop-md) {
    display: inline-flex;
  }
}

.show-xsm {
  display: none;

  @include respond(desktop-xsm) {
    display: inline-flex;
  }
}

.hide-md {
  @include respond(desktop-md) {
    display: none!important;
  }
}

.hide-sm {
  @include respond(desktop-sm) {
    display: none!important;
  }
}

.hide-xsm {
  @include respond(desktop-xsm) {
    display: none!important;
  }
}

.hide-xxsm {
  @include respond(desktop-xxsm) {
    display: none!important;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.onscreen {
  transform: translate(0,0)!important;
}
// .animate-sticky-header {
//   transform: translate(0, 100%)!important;
// }
// .sticky-header {
//   width: 100%;
//   position: fixed;
//   top: calc(-6.9rem - 1px);
//   left: 0;
//   transition: transform .5s ease-in-out;
//   //transform: translate(0, 0)!important;
// }

// ==================================
// LAYOUT
// ==================================
.header {
  position: sticky;
  top:0;
  left: 0;
  border-bottom: 1px solid #EBEAEB;
  background-color: #FFF;


  @include respond(desktop-md) {
    border: 0;
  }


  & .nav,
  & .toolbar {
    background-color: #FFF;
    padding: 1.2rem 5rem;
    margin: 0 auto;
    height: 6.9rem;
    max-width: 133rem;
    @include flexbox;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    z-index: 1000;
    

    @include respond(desktop-md) {
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #FFF;
      transform: translate(100%, 0);

    }

    &-top {
      display: inline-flex;
      align-items: center;
      border-bottom: 1px solid transparent;

      @include respond(desktop-md) {
        padding: 1.2rem 5%;
        display: flex;

        border-bottom: 1px solid #EBEAEB;
      }

      // @include respond(desktop-xsm) {
      //   padding: 1.2rem 5%;
      // }

      & .nav-logo {
        margin-right: 1.6rem;
        height: 3.9rem;
  
        @include respond(desktop-md) {
          margin-right: auto;
        }
      }

      & .link {
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.4;
        color: #1c1c1c;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      & .btn-primary {
        font-size: 1.35rem;
        margin-left: 2rem;
        padding: 1.1rem 3.9rem;
        font-weight: 700;
        letter-spacing: 0.77px;
      }

      & .burger {
        & svg {
          cursor: pointer;
          color: #232324;
          font-size: 2rem;
        }
      }
    }

    &-list {
      margin-right: 3rem;
      width: 100%;
      max-width: 44rem;
      list-style: none;
      @include flexbox;
      align-items: center;
      //justify-content: space-evenly;

      @include respond(desktop-md) {
        display: block;
        max-width: 100%;

      }

      &-item {
        padding: 0 1.8rem;

        @include respond(desktop-md) {
          padding: 0;
        }
        &-link {
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: 600;
          color: $text-color-primary;
          line-height: 1.36;
          white-space: nowrap;

          @include respond(desktop-md) {
            font-size: 1.7rem;
            padding: 2rem 0;
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
  
            &:hover,
            &:focus {
              text-decoration: none!important;
              background-color: #f5f5f5;
            }
          }

          &.active {
            font-weight: 700;
          }

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        & svg {
          color: #232324;
          display: none;
          font-size: 1.5rem;

          @include respond(desktop-md) {
            display: inline-block;
          }
        }
      }
    }

    &-right {
      @include flexbox;
      align-items: center;
      margin-left: auto;

      @include respond(desktop-md) {
        margin-top: 3rem;
        justify-content: space-between;
        padding: 0 5%;
      }

      @include respond(desktop-xsm) {
        flex-direction: column;
      }

      &-sign-in {
        font-family: 'Source Sans Pro', sans-serif;
        margin-right: 2rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        color: $text-color-primary;
        line-height: 1.38;
        white-space: nowrap;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      & .btn-primary {
        font-size: 1.4rem;
        padding: 1.1rem 1.8rem;
        font-weight: 700;
        letter-spacing: 0.77px;
      }
      & .on-big {
        @include respond(desktop-md) {
          display: none;
        }
      }

      & .on-small {
        font-size: 1.7rem;
        padding: 1.7rem 0;
        margin: .85rem 0;
        display: none;
        @include respond(desktop-md) {
          width: 48%;
          display: inline-flex;
        }

        @include respond(desktop-xsm) {
          width: 100%;
        }
      }
    }
  }

  & .nav {
    z-index: 100%;
  }

  & .toolbar {
    position: relative;
    height: 0;
    display: none;
    transform: translate(0,0);

    @include respond(desktop-md) {
      height: 6.9rem;
      display: flex;
    }

    &-top {
      display: flex;
      width: 100%;
    }
  }
}

.main-overview {
  & .section {
    &-title {
      font-family: 'Open Sans', sans-serif;
      font-size: 3.9rem;
      font-weight: 700;
      line-height: 1.33;
      letter-spacing: -0.78px;
    }
  
    &-text {
      font-size: 1.8rem;
    }
  }
}

.section-hero-wrapper {
  padding: 8.8rem 0;
  padding-bottom: 8rem;
  //background-color: #48bc20;
  background: linear-gradient(107.5deg, rgba(72,188,32,1) 47%, rgba(100,198,66,1) 47%);
  .container {
    padding-right: 0rem;

    @include respond(desktop-lg) {
      padding-right: 2rem;
    }

    @include respond(desktop-md) {
      padding-right: 5%;
    }
  }
}

.section-hero {
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(desktop-md) {
    margin-top: 4.6rem;
    flex-direction: column;
  }


  @include respond(desktop-xsm) {
    text-align: center;
    flex-direction: column;
  }

  @include respond(desktop-xxsm) {
    padding: 0;
  }

  &-main  {
    max-width: 57rem;

    @include respond(desktop-lg) {
      width: 50%;
    }

    @include respond(desktop-md) {
      text-align: center;
      width: 100%;
      max-width: 100%;
      margin-bottom: 3.6rem;
    }

    &-title-small {
      margin-top: -1.7rem;
      margin-bottom: 1.3rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.15;
      // color: #4a4b4d;
    }

    &-title {
      font-size: 4rem;
      margin-bottom: 3.6rem;
      line-height: 1.33;
      letter-spacing: -.3px!important;

    }

    &-text {
      max-width: 47.5rem;
      font-size: 1.9rem;
      font-weight: 500;
      line-height: 1.42;
      letter-spacing: 0.19px;
      // color: #191919;

      @include respond(desktop-md) {
        max-width: 100%;
      }
    }

    &-buttons {
      margin-top: 4.5rem;
      margin-bottom: 1.3rem;
      display: flex;
      align-items: center;
      

      @include respond(desktop-xsm) {
        flex-wrap: wrap;
      }
      
      & .btn {
        padding: 1.7rem 4.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.15px;

        &:not(:last-of-type) {
          margin-right: 1.9rem;

          @include respond(desktop-xsm) {
            margin-right: 0;
            margin-bottom: 1.3rem;
          }
        }

        @include respond(desktop-md) {
          width: 49.5%;
        }
        @include respond(desktop-xsm) {
          margin-right: 0;
          width: 100%;
        }
      }
    }

    &-small-text {
      margin-left: 1.3rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-size: 1.35rem;
      line-height: 1.41;
      letter-spacing: 0.14px;
      // color: #5f5f5f;
    }
  }

  &-img {
    margin-right: -.5rem;
    margin-bottom: -1rem;
    width: auto;
    max-width: 62.4rem;

    @include respond(desktop-xl) {
      margin-right: 0;
    }

    @include respond(desktop-lg) {
      width: 50%;
    }
   

    @include respond(desktop-md) {
      width: auto;
      max-width: 100%;
    }
  }

}

.section-video {
  margin-top: 6rem;
  text-align: center;

  &-title {
    margin-bottom: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.64;
    letter-spacing: -2px!important;
  }

  &-text {
    margin-bottom: 2.5rem;
    font-weight: 400;
    line-height: 1.49;
    letter-spacing: 0.18px;
    font-size: 1.75rem;
  }
  & video,
  & img {
   
    margin: 0 auto;
    width: 100%;
    max-width: 89.1rem;
  }

  .video-container {
    position: relative;
    display: inline-block;
    //border: 1px solid $green-primary;
    box-shadow: 0 3px 10px 0 rgba(0,0,0, .3);
    z-index: -1;

    &-play-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8rem;
      height: 8rem;
      background-color: #FFF;
      border-radius: 50%;
      cursor: pointer;

      & svg {
        color: $green-primary;
        font-size: 8rem;
      }
    }
  }
}


.section-about {
  margin-top: 6.5rem;
  display: flex;
  align-items: center;
  //justify-content: center;
  justify-content: space-between;

  @include respond(desktop-sm) {
    flex-direction: column!important;
  }

  &-main {
    @include respond(desktop-sm) {
      //text-align: center;
      margin: 0!important;
      max-width: 100%!important;
    }

    &-title {
      margin-bottom: 2.5rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.31px;
    }

    &-text {
      margin-bottom: 2.5rem;
      font-weight: 400;
      line-height: 1.41;
      letter-spacing: 0.19px;
    }

    &-link {
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.44;
      letter-spacing: normal;
      color: #1164a3;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      & svg {
        font-size: 1.5rem;
        margin-left: 1.3rem;
      }
    }
  }

  &-img {
    width: auto;
    max-height: 51.4rem;

    
    @include respond(desktop-sm) {
      margin-left: 0!important;
      margin-right: 0!important;
      margin-top: 5.5rem;
      max-width: 100%;
    }
  }
}

.section-about {
  &.one {
    //padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 96.4rem;

    & .section-about-main {
      margin-right: 3%;
      max-width: 35rem;
    }

    & .section-about-img {
      //margin-right: -.5rem;
      //margin-left: auto;
    }
  }

  &.two {
    margin-left: auto;
    margin-right: auto;
    max-width: 106rem;
    //max-width: 108rem;
    flex-direction: row-reverse;

    & .section-about-main {
      margin-left: 3%;
      margin-bottom: -3rem;
      max-width: 54.1rem;
    }

    & .section-about-img {
      //margin-left: -1.5rem;
      //margin-right: auto;
    }
  }

  &.three {
    margin-left: auto;
    margin-right: auto;
    max-width: 110.893rem;

    & .section-about-main {
      margin-right: 3%;
      margin-bottom: -2rem;
      max-width: 54rem;
    }

    & .section-about-img {
      //margin-right: -1rem;
      //margin-left: auto;
    }
  }

  &.four {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    flex-direction: row-reverse;
    margin-bottom: 17rem;
    max-width: 120rem;

    & .section-about-main {
      margin-left: 3%;
      //margin-right: 6rem;
      margin-bottom: -1rem;
      max-width: 49rem;

      @include respond(desktop-lg) {
        margin-right: 0;
        max-width: 50%;
      }
    }

    & .section-about-img {
      //margin-left: -1rem;
      //margin-right: auto;
      max-width: 62.9rem;

      @include respond(desktop-lg) {
        max-width: 50%;
      }

      @include respond(desktop-sm) {
        max-width: 100%;
      }
    }
  }
}

.section-banner {
  //margin-top: 17rem;
  padding: 10rem 0;
  background-color: $green-primary;
  text-align: center;

  &-title {
    margin-bottom: 4.1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.34px;
    color: #FFF;
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    & .btn:not(:last-of-type) {
      margin-right: 1.5rem;

      @include respond(desktop-xsm) {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }

    @include respond(desktop-xsm) {
      flex-direction: column;
    }
  }
}

.footer {
  font-family: 'Open Sans', sans-serif;

  &-main {
    padding: 7.6rem 0;
    display: flex;

    @include respond(desktop-md) {
      padding: 3.8rem 0;
      padding-bottom: 8rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include respond(desktop-xsm) {
      padding-bottom: 4rem;
    }

    &-left {
      &-logo {
        width: 6rem;
        height: 6rem;
      }
    }

    &-right {
      margin-left: auto;
      display: flex;

      @include respond(desktop-md) {
        width: 100%;
        justify-content: space-between;
        margin-top: 3.8rem;
        margin-left: 0;
      }

      @include respond(desktop-xsm) {
       flex-wrap: wrap;
      }

      &-list {
        min-width: 20%;
        margin-right: 5rem;
        list-style: none;


        @include respond(desktop-md) {
          min-width: auto;
          margin-right: 0;
        }

        @include respond(desktop-xsm) {
          margin-bottom: 4rem;
          text-align: center;
          width: 50%;
        }

        &-item {
          white-space: nowrap;
          &-title {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.86;
            color: #454545;
          }

          &-link {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.86;
            color: #696969;

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }

          &:not(:last-of-type) {
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }

  &-bottom-wrapper {
    background-color: #f5f5f5;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    padding: 2.5rem 0;

    @include respond(desktop-sm) {
      justify-content: center;
    }

    &-list {
      display: flex;
      list-style: none;

      &-item {
        padding: 0 .8rem;

        @include respond(desktop-sm) {
          padding: 0 1.6rem;
        }

        &-link {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.86;
          color: #454545;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        &-social {
          font-size: 2.6rem;
          color: #000;

          &:hover,
          &:focus {
            color: $green-primary
          }
        }

        & a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        // &:not(:last-of-type) {
        //   margin-right: 1.3rem;
        // }
      }
    }
  }

  &-copyrights {
    background-color: #ebeaeb;
    &-text {
      padding: 1.2rem 0;
      font-size: 1.2rem;
      font-weight: 400;
      color: #454545;

      @include respond(desktop-sm) {
        text-align: center;
      }
    }
  }
}

// FEATURES PAGE
.section-features-wrapper {

  

  &:nth-of-type(2n) {
    background-color: #f5f5f5;
  }
}
.section-features {
  padding: 8rem 0;
  padding-left: 4.3rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1d1d1d;

  @include respond(desktop-md) {
    flex-direction: column;
    padding: 4rem 0;
    padding-left: 0;
    padding-right: 0;
  }


  &-main {
    padding-right: 3rem;

    @include respond(desktop-md) {
      padding-right: 12%;
      display: flex;
      flex-direction: column;
    }

    @include respond(desktop-sm) {
      padding-right: 0;
    }

    &-subtitle {
      margin-bottom: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.73;
      letter-spacing: 0.15px;
      color: #141414;
    }

    &-title {
      margin-bottom: 3.4rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 2.9rem;
      font-weight: 700;
      line-height: 1.31;
      letter-spacing: -0.44px;
    }

    &-img {
      
      display: none;

      @include respond(desktop-md) {
        display: inline-block;
        width: 100%;
        max-width: 62.6rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        align-self: center;
      }
    }

    &-text {
      max-width: 47rem;
      margin-bottom: 3.2rem;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.41;
      letter-spacing: 0.17px;

      @include respond(desktop-md) {
        max-width: 100%;
      }
    }

    &-caption {
      margin-bottom: .7rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: -0.18px;
      text-align: left;
    }
  }

  &-img {
    max-height: 56.57rem;
    //width: 55%;
    @include respond(desktop-md) {
      display: none;
    }
  }

  &.one {
    margin-top: 1.1rem;
    padding-top: 5rem;
  }

  &.two {

    & .section-features-main-title {
      max-width: 40rem;

      @include respond(desktop-md) {
        max-width: 100%;
      }
    }
  }

  &.three {
    
    & .section-features-main {
      margin-bottom: -2rem;
    }
  }
}
.section-dashboard-wrapper {
  background-color: #f5f5f5;
}
.section-dashboard {
  padding-top: 5.5rem;
  padding-bottom: 6.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  &-subtitle {
    margin-bottom: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.73;
    letter-spacing: 0.15px;
    color: #141414;
  }

  &-title {
    margin-bottom: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: -0.44px;
  }

  &-img {
    width: 100%;
    max-width: 106.5rem;
  }
}


.section-info {
  // padding: 0 2rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #1d1d1d;

  @include respond(desktop-md) {
    justify-content: space-between;
  }

  @include respond(desktop-xsm) {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  &-card {
    max-width: 46rem;

    @include respond(desktop-md) {
      width: 45%;
    }

    @include respond(desktop-xsm) {
      max-width: 100%;
      margin-bottom: 4rem;
      width: 100%;
    }

    &-title {
      margin-bottom: 1.2rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: -0.18px;
      
    }

    &-text {
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 1.37;
      letter-spacing: 0.18px;
    }
  }
}

// PRICING PAGE
.section-pricing-wrapper {}
.section-pricing {
  margin-bottom: 9.3rem;
  margin-top: 4.2rem;

  @include respond(desktop-md) {
    padding: 0 7%;
  }

  @include respond(desktop-sm) {
    padding: 0;
  }

  &-title {
    margin-bottom: 3.2rem;
    font-size: 4.7rem;
    font-weight: 700;
    letter-spacing: -0.47px;
    text-align: center;
    color: #1d1d1d;
  }
  
  &-main {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 4px solid $green-primary;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;

    @include respond(desktop-md) {
      padding: 0;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @include respond(desktop-xsm) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, auto);
    }

    &-card {
      padding: .5rem 2rem;
      display: flex;
      flex-direction: column;
      color: #1d1d1d;
      border-right: 1px solid #EBEAEB;

      @include respond(desktop-md) {
        padding-top: 2rem;
        border-bottom: 1px solid #EBEAEB;
      }
      

      &-title {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: .6rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.36;
      }

      &-text {
        margin-bottom: 2.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
      }

      &-price {
        margin-bottom: 1.9rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 0.77;
        color: #454545;

        & span {
          font-weight: 700;
        }
      }

      & .btn-primary {
        margin-bottom: 2.5rem;
        width: 100%;
        padding: 1.8rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: 0.3px;

        @include respond(desktop-xsm) {
          margin-top: auto;
          order: 6;
        }
      }

      &-subtitle {
        margin-bottom: 2.2rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.43;
      }

      &-list {
        margin-bottom: 2.6rem;
        list-style: none;

        &-item {
          padding: .8rem 0;
          display: flex;
          align-items: center;

          &-check {
            margin-right: .9rem;
            font-size: 1.1rem;
            color: $green-primary;
          }

          &-text {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.43;
          }
        }
      }

      &-link {
        text-decoration: none;
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
        color: #1264a3;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

// SIGN IN
.sign-in {
  height: 100vh;
  min-height: 60rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  // GET STARTED
  &.get-started {
    min-height: 69rem;
  }

  // RESET PASSWORD 01
  &.reset-password-01 {
    min-height: 50rem;
  }

  // RESET PASSWORD 02
  &.reset-password-02 {
    min-height: 65rem;
  }

  &-header {
    width: 100%;
    padding: 1.2rem 1.5rem;

    &-img {
      margin-right: auto;
      width: 5rem;
      height: 5rem;
    }
  }

  &-card {
    padding: 0 1.5rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 43rem;
    position: absolute;
    top: 46.2%;
    left: 50%;
    transform: translate(-50%, -50%);

    // GET STARTED
    &.get-started {
      top: 47%;

      @include respond(desktop-sm) {
        top: 45%;
      }

      @include respond(desktop-xxsm) {
        top: 49%;
      }
    }

    // RESET PASSWORD 01
    &.reset-password-01 {
      top: 42.4%;
    }

    // RESET PASSWORD 02
    &.reset-password-02 {
      top: 50%;

      @include respond(desktop-sm) {
        top: 45%;
      }

      @include respond(desktop-xxsm) {
        top: 49%;
      }
    }
    
    &-title {
      margin-bottom: 1.65rem;
      font-size: 3.1rem;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.1px;
      text-align: center;
      color: #000000;

      // GET STARTED
      &.get-started {
        margin-bottom: 1.65rem;
      }
    }

    // GET STARTED
    &-subtitle {
      margin-bottom: 3.45rem;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.43;
      text-align: center;
      color: #606060;

      // RESET PASSWORD 01
      &.reset-password-01 {
        font-size: 1.9rem;
        line-height: 1.58;
      }

       // RESET PASSWORD 01
      &.reset-password-02 {
        margin-left: -10rem;
        margin-right: -10rem;
        font-size: 1.9rem;
        line-height: 1.58;

        @include respond(desktop-xsm) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    &-redirect {
      margin-bottom: 3.58rem;
      font-size: 1.9rem;
      font-weight: 500;
      line-height: 1.58;
      text-align: center;
      color: #606060;

      & a {
        text-decoration: none;
        font-weight: 600;
        color: #48bc20;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      &.small {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 1.4rem;
        line-height: 1.36;
        text-align: left;
        color: #707070;

        & a {
          font-weight: 500;
        }
      }
    }

    &-input {
      font-family: 'Roboto', sans-serif;
      margin-bottom: 2rem;
      padding: 1.4rem 1.6rem;
      width: 100%;
      font-size: 1.5rem;
      font-weight: 400;
      color: #1c1c1c;
      line-height: 1.33;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 rgba(224, 224, 224, 0.07);
      border: solid 1px #e8e8e8;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        outline-color: #48bc20;
      }

      &::placeholder {
        color: #9b9b9b;
      }

      // GET STARTED
      &.get-started {
        margin-bottom: 2.43rem;

        &:last-of-type {
          margin-bottom: 1.1rem;
        }
      }

      // DISABLED
      &.disabled {
        opacity: .3;
        // cursor: ;
        cursor: not-allowed;
      }
    }

    & .input-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 1rem;
      align-items: flex-start;
      
      @include respond(desktop-xxsm) {
        grid-template-columns: 1fr;
      }

      & input {
        &:last-of-type {
          margin-bottom: 2rem;
        }
      }
    }

    // GET STARTED
    &-password-info {
      margin-bottom: 3rem;
      margin-left: .4rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.38;
      color: #707070;

      &-icon {
        margin-right: .6rem;
        font-size: .9rem;
      }
    }

    // GET STARTED
    &-check {
      margin-bottom: 3rem;
      margin-left: .3rem;
      display: flex;
      align-items: center;

      & .pretty {
        margin-right: 0;
        font-size: 1.45rem;
      }

      &-label {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.38;
        color: #707070;

        & a {
          text-decoration: none;
          color: #48bc20;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    & .btn-primary {
      font-family: 'Roboto', sans-serif;
      margin-bottom: 1.9rem;
      padding: 1.1rem 0;
      width: 100%;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.3;

      // GET STARTED
      &.get-started {
        padding: 1.3rem 0;
        font-size: 1.7rem;
      }

       // DISABLED
       &.disabled {
        opacity: .3;
        // cursor: ;
        cursor: not-allowed;

        &:hover,
        &:focus {
          background-color: $green-primary;
        }
      }
    }
  }

  &-footer {
    width: 92%;
    max-width: 120rem;
    padding: .3rem 0 5rem;
    //margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.25px solid #EAEAEA;

    &-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2.5;
      color: #868686;

      @include respond(desktop-xsm) {
        margin: 0 auto;
      }
    }
  }
}


// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Roboto', sans-serif;