*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c1c1c; }

.btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color .3s;
  white-space: nowrap;
  border: solid 1.5px transparent; }
  .btn-primary {
    color: #FFF;
    background-color: #48bc20; }
    .btn-primary:hover, .btn-primary:focus {
      background-color: #76dd53; }
    .btn-primary.outline {
      color: #48bc20;
      background-color: #FFF;
      border-color: #48bc20; }
      .btn-primary.outline:hover, .btn-primary.outline:focus {
        color: #fff;
        border-color: #76dd53;
        background-color: #76dd53; }

.show-md {
  display: none; }
  @media (max-width: 991px) {
    .show-md {
      display: inline-flex; } }

.show-xsm {
  display: none; }
  @media (max-width: 575px) {
    .show-xsm {
      display: inline-flex; } }

@media (max-width: 575px) {
  .hide-xsm {
    display: none; } }

.onscreen {
  transform: translate(0, 0) !important; }

.header {
  border-bottom: 1px solid #EBEAEB; }
  @media (max-width: 991px) {
    .header {
      border: 0; } }
  .header .nav, .header .toolbar {
    padding: 1.2rem 2rem;
    margin: 0 auto;
    height: 6.9rem;
    max-width: 130rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center; }
    @media (max-width: 1720px) {
      .header .nav, .header .toolbar {
        max-width: 108rem; } }
    @media (max-width: 991px) {
      .header .nav, .header .toolbar {
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFF;
        transform: translate(100%, 0); } }
    .header .nav-top, .header .toolbar-top {
      display: inline-flex;
      align-items: center;
      border-bottom: 0; }
      @media (max-width: 991px) {
        .header .nav-top, .header .toolbar-top {
          padding: 1.5rem 2rem;
          padding-right: 4rem;
          display: flex;
          border-bottom: 1px solid #EBEAEB; } }
      @media (max-width: 575px) {
        .header .nav-top, .header .toolbar-top {
          padding: 1.5rem;
          padding-right: 2rem; } }
      .header .nav-top .nav-logo, .header .toolbar-top .nav-logo {
        margin-right: 1rem;
        height: 4rem; }
        @media (max-width: 991px) {
          .header .nav-top .nav-logo, .header .toolbar-top .nav-logo {
            margin-right: auto; } }
      .header .nav-top .link, .header .toolbar-top .link {
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.4;
        color: #1c1c1c; }
        .header .nav-top .link:hover, .header .nav-top .link:focus, .header .toolbar-top .link:hover, .header .toolbar-top .link:focus {
          text-decoration: underline; }
      .header .nav-top .btn-primary, .header .toolbar-top .btn-primary {
        font-size: 1.35rem;
        margin-left: 2rem;
        padding: 1.1rem 3.9rem;
        font-weight: 700;
        letter-spacing: 0.77px; }
      .header .nav-top .burger svg, .header .toolbar-top .burger svg {
        cursor: pointer;
        color: #232324;
        font-size: 2rem; }
    .header .nav-list, .header .toolbar-list {
      margin-right: 3rem;
      width: 100%;
      max-width: 44rem;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      @media (max-width: 991px) {
        .header .nav-list, .header .toolbar-list {
          display: block;
          max-width: 100%; } }
      .header .nav-list-item-link, .header .toolbar-list-item-link {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: #1c1c1c;
        line-height: 1.36;
        white-space: nowrap; }
        @media (max-width: 991px) {
          .header .nav-list-item-link, .header .toolbar-list-item-link {
            font-size: 1.7rem;
            padding: 2rem 0;
            padding-left: 10%;
            padding-right: 12%;
            display: flex;
            align-items: center;
            justify-content: space-between; }
            .header .nav-list-item-link:hover, .header .nav-list-item-link:focus, .header .toolbar-list-item-link:hover, .header .toolbar-list-item-link:focus {
              text-decoration: none !important;
              background-color: #f5f5f5; } }
        @media (max-width: 575px) {
          .header .nav-list-item-link, .header .toolbar-list-item-link {
            padding-left: 8%;
            padding-right: 8%; } }
        .header .nav-list-item-link.active, .header .toolbar-list-item-link.active {
          font-weight: 700; }
        .header .nav-list-item-link:hover, .header .nav-list-item-link:focus, .header .toolbar-list-item-link:hover, .header .toolbar-list-item-link:focus {
          text-decoration: underline; }
      .header .nav-list-item svg, .header .toolbar-list-item svg {
        color: #232324;
        display: none;
        font-size: 1.5rem; }
        @media (max-width: 991px) {
          .header .nav-list-item svg, .header .toolbar-list-item svg {
            display: inline-block; } }
    .header .nav-right, .header .toolbar-right {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin-left: auto; }
      @media (max-width: 991px) {
        .header .nav-right, .header .toolbar-right {
          margin-top: 3rem;
          justify-content: space-between;
          padding: 0 10%; } }
      @media (max-width: 575px) {
        .header .nav-right, .header .toolbar-right {
          flex-direction: column;
          padding: 0 8%; } }
      .header .nav-right-sign-in, .header .toolbar-right-sign-in {
        font-family: 'Source Sans Pro', sans-serif;
        margin-right: 2rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        color: #1c1c1c;
        line-height: 1.38;
        white-space: nowrap; }
        .header .nav-right-sign-in:hover, .header .nav-right-sign-in:focus, .header .toolbar-right-sign-in:hover, .header .toolbar-right-sign-in:focus {
          text-decoration: underline; }
      .header .nav-right .btn-primary, .header .toolbar-right .btn-primary {
        font-size: 1.4rem;
        padding: 1.1rem 1.8rem;
        font-weight: 700;
        letter-spacing: 0.77px; }
      @media (max-width: 991px) {
        .header .nav-right .on-big, .header .toolbar-right .on-big {
          display: none; } }
      .header .nav-right .on-small, .header .toolbar-right .on-small {
        font-size: 1.7rem;
        padding: 1.7rem 0;
        margin: .85rem 0;
        display: none; }
        @media (max-width: 991px) {
          .header .nav-right .on-small, .header .toolbar-right .on-small {
            width: 48%;
            display: inline-flex; } }
        @media (max-width: 575px) {
          .header .nav-right .on-small, .header .toolbar-right .on-small {
            width: 100%; } }
  .header .toolbar {
    position: relative;
    height: 0;
    display: none;
    transform: translate(0, 0); }
    @media (max-width: 991px) {
      .header .toolbar {
        height: 6.9rem;
        display: flex; } }
    .header .toolbar-top {
      display: flex;
      width: 100%; }
