*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 991px) {
    html {
      font-size: 55%; } }
  @media (max-width: 767px) {
    html {
      font-size: 50%; } }
  @media (max-width: 575px) {
    html {
      font-size: 45%; } }
  @media (max-width: 379px) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c1c1c;
  overflow-x: hidden; }

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  display: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: 120rem; }
  @media (max-width: 991px) {
    .container {
      padding-left: 10%;
      padding-right: 10%; } }
  @media (max-width: 575px) {
    .container {
      padding-left: 5%;
      padding-right: 5%; } }
  @media (max-width: 379px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem; } }

.btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color .3s;
  white-space: nowrap;
  border: solid 1.5px transparent; }
  .btn-primary {
    color: #FFF;
    background-color: #48bc20; }
    .btn-primary:hover, .btn-primary:focus {
      background-color: #76dd53; }
    .btn-primary.outline {
      color: #48bc20;
      background-color: #FFF;
      border-color: #48bc20; }
      .btn-primary.outline:hover, .btn-primary.outline:focus {
        color: #fff;
        border-color: #76dd53;
        background-color: #76dd53; }
  .btn-white {
    padding: 1.9rem 3.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.77px;
    color: #48bc20;
    color: #48bc20;
    border-radius: 4px;
    background-color: #FFF; }
    .btn-white:hover, .btn-white:focus {
      background-color: #c3e2b9; }
    .btn-white.outline {
      color: #FFF;
      border-color: #FFF;
      background-color: transparent; }
      .btn-white.outline:hover, .btn-white.outline:focus {
        color: #48bc20;
        background-color: #c3e2b9;
        border-color: #c3e2b9; }

.show-md {
  display: none; }
  @media (max-width: 991px) {
    .show-md {
      display: inline-flex; } }

.show-xsm {
  display: none; }
  @media (max-width: 575px) {
    .show-xsm {
      display: inline-flex; } }

@media (max-width: 767px) {
  .hide-sm {
    display: none !important; } }

@media (max-width: 575px) {
  .hide-xsm {
    display: none !important; } }

@media (max-width: 379px) {
  .hide-xxsm {
    display: none !important; } }

.onscreen {
  transform: translate(0, 0) !important; }

.header {
  border-bottom: 1px solid #EBEAEB; }
  @media (max-width: 991px) {
    .header {
      border: 0; } }
  .header .nav {
    z-index: 1000; }
  .header .nav, .header .toolbar {
    padding: 1.2rem 5rem;
    margin: 0 auto;
    height: 6.9rem;
    max-width: 120rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center; }
    @media (max-width: 991px) {
      .header .nav, .header .toolbar {
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFF;
        transform: translate(100%, 0); } }
    .header .nav-top, .header .toolbar-top {
      display: inline-flex;
      align-items: center;
      border-bottom: 1px solid transparent; }
      @media (max-width: 991px) {
        .header .nav-top, .header .toolbar-top {
          padding: 1.2rem 10%;
          display: flex;
          border-bottom: 1px solid #EBEAEB; } }
      @media (max-width: 575px) {
        .header .nav-top, .header .toolbar-top {
          padding: 1.2rem 5%; } }
      .header .nav-top .nav-logo, .header .toolbar-top .nav-logo {
        margin-right: 1rem;
        height: 4rem; }
        @media (max-width: 991px) {
          .header .nav-top .nav-logo, .header .toolbar-top .nav-logo {
            margin-right: auto; } }
      .header .nav-top .link, .header .toolbar-top .link {
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.4;
        color: #1c1c1c; }
        .header .nav-top .link:hover, .header .nav-top .link:focus, .header .toolbar-top .link:hover, .header .toolbar-top .link:focus {
          text-decoration: underline; }
      .header .nav-top .btn-primary, .header .toolbar-top .btn-primary {
        font-size: 1.35rem;
        margin-left: 2rem;
        padding: 1.1rem 3.9rem;
        font-weight: 700;
        letter-spacing: 0.77px; }
      .header .nav-top .burger svg, .header .toolbar-top .burger svg {
        cursor: pointer;
        color: #232324;
        font-size: 2rem; }
    .header .nav-list, .header .toolbar-list {
      margin-right: 3rem;
      width: 100%;
      max-width: 44rem;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      @media (max-width: 991px) {
        .header .nav-list, .header .toolbar-list {
          display: block;
          max-width: 100%; } }
      .header .nav-list-item-link, .header .toolbar-list-item-link {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: #1c1c1c;
        line-height: 1.36;
        white-space: nowrap; }
        @media (max-width: 991px) {
          .header .nav-list-item-link, .header .toolbar-list-item-link {
            font-size: 1.7rem;
            padding: 2rem 0;
            padding-left: 10%;
            padding-right: 12%;
            display: flex;
            align-items: center;
            justify-content: space-between; }
            .header .nav-list-item-link:hover, .header .nav-list-item-link:focus, .header .toolbar-list-item-link:hover, .header .toolbar-list-item-link:focus {
              text-decoration: none !important;
              background-color: #f5f5f5; } }
        @media (max-width: 575px) {
          .header .nav-list-item-link, .header .toolbar-list-item-link {
            padding-left: 8%;
            padding-right: 8%; } }
        .header .nav-list-item-link.active, .header .toolbar-list-item-link.active {
          font-weight: 700; }
        .header .nav-list-item-link:hover, .header .nav-list-item-link:focus, .header .toolbar-list-item-link:hover, .header .toolbar-list-item-link:focus {
          text-decoration: underline; }
      .header .nav-list-item svg, .header .toolbar-list-item svg {
        color: #232324;
        display: none;
        font-size: 1.5rem; }
        @media (max-width: 991px) {
          .header .nav-list-item svg, .header .toolbar-list-item svg {
            display: inline-block; } }
    .header .nav-right, .header .toolbar-right {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin-left: auto; }
      @media (max-width: 991px) {
        .header .nav-right, .header .toolbar-right {
          margin-top: 3rem;
          justify-content: space-between;
          padding: 0 10%; } }
      @media (max-width: 575px) {
        .header .nav-right, .header .toolbar-right {
          flex-direction: column;
          padding: 0 8%; } }
      .header .nav-right-sign-in, .header .toolbar-right-sign-in {
        font-family: 'Source Sans Pro', sans-serif;
        margin-right: 2rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        color: #1c1c1c;
        line-height: 1.38;
        white-space: nowrap; }
        .header .nav-right-sign-in:hover, .header .nav-right-sign-in:focus, .header .toolbar-right-sign-in:hover, .header .toolbar-right-sign-in:focus {
          text-decoration: underline; }
      .header .nav-right .btn-primary, .header .toolbar-right .btn-primary {
        font-size: 1.4rem;
        padding: 1.1rem 1.8rem;
        font-weight: 700;
        letter-spacing: 0.77px; }
      @media (max-width: 991px) {
        .header .nav-right .on-big, .header .toolbar-right .on-big {
          display: none; } }
      .header .nav-right .on-small, .header .toolbar-right .on-small {
        font-size: 1.7rem;
        padding: 1.7rem 0;
        margin: .85rem 0;
        display: none; }
        @media (max-width: 991px) {
          .header .nav-right .on-small, .header .toolbar-right .on-small {
            width: 48%;
            display: inline-flex; } }
        @media (max-width: 575px) {
          .header .nav-right .on-small, .header .toolbar-right .on-small {
            width: 100%; } }
  .header .nav {
    z-index: 100%; }
  .header .toolbar {
    position: relative;
    height: 0;
    display: none;
    transform: translate(0, 0); }
    @media (max-width: 991px) {
      .header .toolbar {
        height: 6.9rem;
        display: flex; } }
    .header .toolbar-top {
      display: flex;
      width: 100%; }

.section-hero {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 991px) {
    .section-hero {
      margin-top: 4.6rem;
      flex-direction: column; } }
  @media (max-width: 575px) {
    .section-hero {
      text-align: center;
      flex-direction: column; } }
  @media (max-width: 379px) {
    .section-hero {
      padding: 0; } }
  .section-hero-main {
    width: 48%; }
    @media (max-width: 991px) {
      .section-hero-main {
        width: 100%;
        margin-bottom: 3.6rem; } }
    .section-hero-main-title-small {
      margin-bottom: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.15;
      color: #4a4b4d; }
    .section-hero-main-title {
      margin-bottom: 3.6rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 4.2rem;
      font-weight: 700;
      line-height: 1.24;
      letter-spacing: -1.05px; }
    .section-hero-main-text {
      font-size: 1.9rem;
      line-height: 1.42;
      letter-spacing: 0.19px;
      color: #191919; }
    .section-hero-main-buttons {
      margin-top: 4.6rem;
      margin-bottom: 1.3rem;
      display: flex;
      align-items: center; }
      @media (max-width: 575px) {
        .section-hero-main-buttons {
          flex-wrap: wrap; } }
      .section-hero-main-buttons .btn {
        padding: 1.9rem 5.3rem;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.15px; }
        .section-hero-main-buttons .btn:not(:last-of-type) {
          margin-right: 2.2rem; }
          @media (max-width: 575px) {
            .section-hero-main-buttons .btn:not(:last-of-type) {
              margin-right: 0;
              margin-bottom: 1.3rem; } }
        @media (max-width: 991px) {
          .section-hero-main-buttons .btn {
            width: 49.5%; } }
        @media (max-width: 575px) {
          .section-hero-main-buttons .btn {
            margin-right: 0;
            width: 100%; } }
    .section-hero-main-small-text {
      margin-left: 1.2rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.25rem;
      line-height: 1.28;
      letter-spacing: 0.13px;
      color: #5f5f5f; }
  .section-hero-img {
    width: auto;
    max-width: 50%; }
    @media (max-width: 991px) {
      .section-hero-img {
        width: auto;
        max-width: 100%; } }

.section-video {
  margin-top: 10rem;
  text-align: center; }
  .section-video-title {
    margin-bottom: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.48;
    letter-spacing: -0.4px; }
  .section-video-text {
    margin-bottom: 3.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0.18px; }
  .section-video video {
    margin: 0 auto;
    width: 100%;
    max-width: 80rem; }

.section-about.one .section-about-main {
  margin-right: 7%;
  max-width: 35rem; }
.section-about.two {
  flex-direction: row-reverse; }
  .section-about.two .section-about-main {
    margin-left: 7%;
    max-width: 56.5rem; }
.section-about.three .section-about-main {
  margin-right: 7%;
  max-width: 55.5rem; }
.section-about.four {
  flex-direction: row-reverse; }
  .section-about.four .section-about-main {
    margin-left: 7%;
    max-width: 52.8rem; }

.section-about {
  margin-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .section-about {
      flex-direction: column !important; } }
  @media (max-width: 767px) {
    .section-about-main {
      margin: 0 !important;
      max-width: 100% !important; } }
  .section-about-main-title {
    margin-bottom: 2.1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.34px; }
  .section-about-main-text {
    margin-bottom: 1.7rem;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.37;
    letter-spacing: 0.19px; }
  .section-about-main-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.44;
    letter-spacing: normal;
    color: #1164a3; }
    .section-about-main-link svg {
      font-size: 1.5rem;
      margin-left: 1.9rem; }
  .section-about-img {
    width: auto;
    max-width: 40%; }
    @media (max-width: 767px) {
      .section-about-img {
        margin-top: 5.5rem;
        max-width: 100%; } }

.section-banner {
  margin-top: 17rem;
  padding: 10rem 0;
  background-color: #48bc20;
  text-align: center; }
  .section-banner-title {
    margin-bottom: 4.1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.9rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.34px;
    color: #FFF; }
  .section-banner-buttons .btn:not(:last-of-type) {
    margin-right: 1.5rem; }

.footer {
  font-family: 'Open Sans', sans-serif; }
  .footer-main {
    padding: 7.6rem 0;
    display: flex; }
    @media (max-width: 991px) {
      .footer-main {
        padding: 3.8rem 0;
        padding-bottom: 8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .footer-main-left-logo {
      width: 6rem;
      height: 6rem; }
    .footer-main-right {
      margin-left: auto;
      display: flex; }
      @media (max-width: 991px) {
        .footer-main-right {
          width: 100%;
          justify-content: space-evenly;
          margin-top: 3.8rem;
          margin-left: 0; } }
      .footer-main-right-list {
        margin-right: 7rem;
        list-style: none; }
        @media (max-width: 991px) {
          .footer-main-right-list {
            margin-right: 0; } }
        .footer-main-right-list-item-title {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.86;
          color: #454545; }
        .footer-main-right-list-item-link {
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.86;
          color: #696969; }
          .footer-main-right-list-item-link:hover, .footer-main-right-list-item-link:focus {
            text-decoration: underline; }
        .footer-main-right-list-item:not(:last-of-type) {
          margin-bottom: 1.6rem; }
  .footer-bottom-wrapper {
    background-color: #f5f5f5; }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0; }
    @media (max-width: 767px) {
      .footer-bottom {
        justify-content: center; } }
    .footer-bottom-list {
      display: flex;
      list-style: none; }
      .footer-bottom-list-item {
        padding: 0 .8rem; }
        @media (max-width: 767px) {
          .footer-bottom-list-item {
            padding: 0 1.6rem; } }
        .footer-bottom-list-item-link {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.86;
          color: #454545; }
          .footer-bottom-list-item-link:hover, .footer-bottom-list-item-link:focus {
            text-decoration: underline; }
        .footer-bottom-list-item-social {
          font-size: 2.6rem;
          color: #000; }
          .footer-bottom-list-item-social:hover, .footer-bottom-list-item-social:focus {
            color: #48bc20; }
        .footer-bottom-list-item a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center; }
  .footer-copyrights {
    background-color: #ebeaeb; }
    .footer-copyrights-text {
      padding: 1.2rem 0;
      font-size: 1.2rem;
      font-weight: 400;
      color: #454545; }
      @media (max-width: 767px) {
        .footer-copyrights-text {
          text-align: center; } }
