*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1379px) {
    html {
      font-size: 60%; } }
  @media (max-width: 1199px) {
    html {
      font-size: 57.5%; } }
  @media (max-width: 991px) {
    html {
      font-size: 55%; } }
  @media (max-width: 767px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c1c1c;
  overflow-x: hidden; }

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 133rem; }
  @media (max-width: 991px) {
    .container {
      padding-left: 5%;
      padding-right: 5%; } }
  @media (max-width: 575px) {
    .container {
      padding-left: 5%;
      padding-right: 5%; } }
  @media (max-width: 379px) {
    .container {
      padding-left: 10%;
      padding-right: 10%; } }

.btn {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color .3s;
  white-space: nowrap;
  border: solid 1.5px transparent; }
  .btn-primary {
    color: #FFF;
    background-color: #48bc20; }
    .btn-primary:hover, .btn-primary:focus {
      background-color: #76dd53; }
    .btn-primary.outline {
      color: #48bc20;
      background-color: #FFF;
      border-color: #48bc20; }
      .btn-primary.outline:hover, .btn-primary.outline:focus {
        color: #fff;
        border-color: #76dd53;
        background-color: #76dd53; }
  .btn-white {
    padding: 1.9rem 3.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.77px;
    color: #48bc20;
    color: #48bc20;
    border-radius: 4px;
    background-color: #FFF; }
    .btn-white:hover, .btn-white:focus {
      background-color: #c3e2b9; }
    .btn-white.outline {
      color: #FFF;
      border-color: #FFF;
      background-color: transparent; }
      .btn-white.outline:hover, .btn-white.outline:focus {
        color: #48bc20;
        background-color: #c3e2b9;
        border-color: #c3e2b9; }

.show-md {
  display: none; }
  @media (max-width: 991px) {
    .show-md {
      display: inline-flex; } }

.show-xsm {
  display: none; }
  @media (max-width: 575px) {
    .show-xsm {
      display: inline-flex; } }

@media (max-width: 991px) {
  .hide-md {
    display: none !important; } }

@media (max-width: 767px) {
  .hide-sm {
    display: none !important; } }

@media (max-width: 575px) {
  .hide-xsm {
    display: none !important; } }

@media (max-width: 379px) {
  .hide-xxsm {
    display: none !important; } }

.invisible {
  visibility: hidden;
  opacity: 0; }

.onscreen {
  transform: translate(0, 0) !important; }

.header {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #EBEAEB;
  background-color: #FFF; }
  @media (max-width: 991px) {
    .header {
      border: 0; } }
  .header .nav, .header .toolbar {
    background-color: #FFF;
    padding: 1.2rem 5rem;
    margin: 0 auto;
    height: 6.9rem;
    max-width: 133rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    z-index: 1000; }
    @media (max-width: 991px) {
      .header .nav, .header .toolbar {
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFF;
        transform: translate(100%, 0); } }
    .header .nav-top, .header .toolbar-top {
      display: inline-flex;
      align-items: center;
      border-bottom: 1px solid transparent; }
      @media (max-width: 991px) {
        .header .nav-top, .header .toolbar-top {
          padding: 1.2rem 5%;
          display: flex;
          border-bottom: 1px solid #EBEAEB; } }
      .header .nav-top .nav-logo, .header .toolbar-top .nav-logo {
        margin-right: 1.6rem;
        height: 3.9rem; }
        @media (max-width: 991px) {
          .header .nav-top .nav-logo, .header .toolbar-top .nav-logo {
            margin-right: auto; } }
      .header .nav-top .link, .header .toolbar-top .link {
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.4;
        color: #1c1c1c; }
        .header .nav-top .link:hover, .header .nav-top .link:focus, .header .toolbar-top .link:hover, .header .toolbar-top .link:focus {
          text-decoration: underline; }
      .header .nav-top .btn-primary, .header .toolbar-top .btn-primary {
        font-size: 1.35rem;
        margin-left: 2rem;
        padding: 1.1rem 3.9rem;
        font-weight: 700;
        letter-spacing: 0.77px; }
      .header .nav-top .burger svg, .header .toolbar-top .burger svg {
        cursor: pointer;
        color: #232324;
        font-size: 2rem; }
    .header .nav-list, .header .toolbar-list {
      margin-right: 3rem;
      width: 100%;
      max-width: 44rem;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      @media (max-width: 991px) {
        .header .nav-list, .header .toolbar-list {
          display: block;
          max-width: 100%; } }
      .header .nav-list-item, .header .toolbar-list-item {
        padding: 0 1.8rem; }
        @media (max-width: 991px) {
          .header .nav-list-item, .header .toolbar-list-item {
            padding: 0; } }
        .header .nav-list-item-link, .header .toolbar-list-item-link {
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: 600;
          color: #1c1c1c;
          line-height: 1.36;
          white-space: nowrap; }
          @media (max-width: 991px) {
            .header .nav-list-item-link, .header .toolbar-list-item-link {
              font-size: 1.7rem;
              padding: 2rem 0;
              padding-left: 5%;
              padding-right: 5%;
              display: flex;
              align-items: center;
              justify-content: space-between; }
              .header .nav-list-item-link:hover, .header .nav-list-item-link:focus, .header .toolbar-list-item-link:hover, .header .toolbar-list-item-link:focus {
                text-decoration: none !important;
                background-color: #f5f5f5; } }
          .header .nav-list-item-link.active, .header .toolbar-list-item-link.active {
            font-weight: 700; }
          .header .nav-list-item-link:hover, .header .nav-list-item-link:focus, .header .toolbar-list-item-link:hover, .header .toolbar-list-item-link:focus {
            text-decoration: underline; }
        .header .nav-list-item svg, .header .toolbar-list-item svg {
          color: #232324;
          display: none;
          font-size: 1.5rem; }
          @media (max-width: 991px) {
            .header .nav-list-item svg, .header .toolbar-list-item svg {
              display: inline-block; } }
    .header .nav-right, .header .toolbar-right {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin-left: auto; }
      @media (max-width: 991px) {
        .header .nav-right, .header .toolbar-right {
          margin-top: 3rem;
          justify-content: space-between;
          padding: 0 5%; } }
      @media (max-width: 575px) {
        .header .nav-right, .header .toolbar-right {
          flex-direction: column; } }
      .header .nav-right-sign-in, .header .toolbar-right-sign-in {
        font-family: 'Source Sans Pro', sans-serif;
        margin-right: 2rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        color: #1c1c1c;
        line-height: 1.38;
        white-space: nowrap; }
        .header .nav-right-sign-in:hover, .header .nav-right-sign-in:focus, .header .toolbar-right-sign-in:hover, .header .toolbar-right-sign-in:focus {
          text-decoration: underline; }
      .header .nav-right .btn-primary, .header .toolbar-right .btn-primary {
        font-size: 1.4rem;
        padding: 1.1rem 1.8rem;
        font-weight: 700;
        letter-spacing: 0.77px; }
      @media (max-width: 991px) {
        .header .nav-right .on-big, .header .toolbar-right .on-big {
          display: none; } }
      .header .nav-right .on-small, .header .toolbar-right .on-small {
        font-size: 1.7rem;
        padding: 1.7rem 0;
        margin: .85rem 0;
        display: none; }
        @media (max-width: 991px) {
          .header .nav-right .on-small, .header .toolbar-right .on-small {
            width: 48%;
            display: inline-flex; } }
        @media (max-width: 575px) {
          .header .nav-right .on-small, .header .toolbar-right .on-small {
            width: 100%; } }
  .header .nav {
    z-index: 100%; }
  .header .toolbar {
    position: relative;
    height: 0;
    display: none;
    transform: translate(0, 0); }
    @media (max-width: 991px) {
      .header .toolbar {
        height: 6.9rem;
        display: flex; } }
    .header .toolbar-top {
      display: flex;
      width: 100%; }

.main-overview .section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.78px; }
.main-overview .section-text {
  font-size: 1.8rem; }

.section-hero-wrapper .container {
  padding-right: 0rem; }
  @media (max-width: 1199px) {
    .section-hero-wrapper .container {
      padding-right: 2rem; } }
  @media (max-width: 991px) {
    .section-hero-wrapper .container {
      padding-right: 5%; } }

.section-hero {
  margin-top: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 991px) {
    .section-hero {
      margin-top: 4.6rem;
      flex-direction: column; } }
  @media (max-width: 575px) {
    .section-hero {
      text-align: center;
      flex-direction: column; } }
  @media (max-width: 379px) {
    .section-hero {
      padding: 0; } }
  .section-hero-main {
    max-width: 57rem; }
    @media (max-width: 1199px) {
      .section-hero-main {
        width: 50%; } }
    @media (max-width: 991px) {
      .section-hero-main {
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: 3.6rem; } }
    .section-hero-main-title-small {
      margin-top: -1.7rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.15;
      color: #4a4b4d; }
    .section-hero-main-title {
      margin-bottom: 3.6rem; }
    .section-hero-main-text {
      max-width: 47.5rem;
      line-height: 1.42;
      letter-spacing: 0.19px;
      color: #191919; }
      @media (max-width: 991px) {
        .section-hero-main-text {
          max-width: 100%; } }
    .section-hero-main-buttons {
      margin-top: 4.5rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center; }
      @media (max-width: 575px) {
        .section-hero-main-buttons {
          flex-wrap: wrap; } }
      .section-hero-main-buttons .btn {
        padding: 1.8rem 5.3rem;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.15px; }
        .section-hero-main-buttons .btn:not(:last-of-type) {
          margin-right: 1.9rem; }
          @media (max-width: 575px) {
            .section-hero-main-buttons .btn:not(:last-of-type) {
              margin-right: 0;
              margin-bottom: 1.3rem; } }
        @media (max-width: 991px) {
          .section-hero-main-buttons .btn {
            width: 49.5%; } }
        @media (max-width: 575px) {
          .section-hero-main-buttons .btn {
            margin-right: 0;
            width: 100%; } }
    .section-hero-main-small-text {
      margin-left: 2rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      line-height: 1.28;
      letter-spacing: 0.13px;
      color: #5f5f5f; }
  .section-hero-img {
    width: auto;
    max-width: 65.4rem; }
    @media (max-width: 1199px) {
      .section-hero-img {
        width: 50%; } }
    @media (max-width: 991px) {
      .section-hero-img {
        width: auto;
        max-width: 100%; } }

.section-video {
  margin-top: 9rem;
  text-align: center; }
  .section-video-title {
    margin-bottom: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.48;
    letter-spacing: -0.4px; }
  .section-video-text {
    margin-bottom: 3.8rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0.19px; }
  .section-video video, .section-video img {
    margin: 0 auto;
    width: 100%;
    max-width: 80rem; }
  .section-video .video-container {
    position: relative;
    display: inline-block;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: -1; }
    .section-video .video-container-play-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8rem;
      height: 8rem;
      background-color: #FFF;
      border-radius: 50%;
      cursor: pointer; }
      .section-video .video-container-play-btn svg {
        color: #48bc20;
        font-size: 8rem; }

.section-about {
  margin-top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .section-about {
      flex-direction: column !important; } }
  @media (max-width: 767px) {
    .section-about-main {
      margin: 0 !important;
      max-width: 100% !important; } }
  .section-about-main-title {
    margin-bottom: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.31px; }
  .section-about-main-text {
    margin-bottom: 2.5rem;
    font-weight: 400;
    line-height: 1.41;
    letter-spacing: 0.19px; }
  .section-about-main-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: normal;
    color: #1164a3; }
    .section-about-main-link:hover, .section-about-main-link:focus {
      text-decoration: underline; }
    .section-about-main-link svg {
      font-size: 1.5rem;
      margin-left: 1.3rem; }
  .section-about-img {
    width: auto;
    max-height: 51.4rem; }
    @media (max-width: 767px) {
      .section-about-img {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 5.5rem;
        max-width: 100%; } }

.section-about.one {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 96.4rem; }
  .section-about.one .section-about-main {
    margin-right: 3%;
    max-width: 35rem; }
.section-about.two {
  margin-left: auto;
  margin-right: auto;
  max-width: 106rem;
  flex-direction: row-reverse; }
  .section-about.two .section-about-main {
    margin-left: 3%;
    margin-bottom: -3rem;
    max-width: 54.1rem; }
.section-about.three {
  margin-left: auto;
  margin-right: auto;
  max-width: 110.893rem; }
  .section-about.three .section-about-main {
    margin-right: 3%;
    margin-bottom: -2rem;
    max-width: 54rem; }
.section-about.four {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  flex-direction: row-reverse;
  margin-bottom: 17rem;
  max-width: 120rem; }
  .section-about.four .section-about-main {
    margin-left: 3%;
    margin-bottom: -1rem;
    max-width: 49rem; }
    @media (max-width: 1199px) {
      .section-about.four .section-about-main {
        margin-right: 0;
        max-width: 50%; } }
  .section-about.four .section-about-img {
    max-width: 62.9rem; }
    @media (max-width: 1199px) {
      .section-about.four .section-about-img {
        max-width: 50%; } }
    @media (max-width: 767px) {
      .section-about.four .section-about-img {
        max-width: 100%; } }

.section-banner {
  padding: 10rem 0;
  background-color: #48bc20;
  text-align: center; }
  .section-banner-title {
    margin-bottom: 4.1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.34px;
    color: #FFF; }
  .section-banner-buttons .btn:not(:last-of-type) {
    margin-right: 1.5rem; }

.footer {
  font-family: 'Open Sans', sans-serif; }
  .footer-main {
    padding: 7.6rem 0;
    display: flex; }
    @media (max-width: 991px) {
      .footer-main {
        padding: 3.8rem 0;
        padding-bottom: 8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media (max-width: 575px) {
      .footer-main {
        padding-bottom: 4rem; } }
    .footer-main-left-logo {
      width: 6rem;
      height: 6rem; }
    .footer-main-right {
      margin-left: auto;
      display: flex; }
      @media (max-width: 991px) {
        .footer-main-right {
          width: 100%;
          justify-content: space-between;
          margin-top: 3.8rem;
          margin-left: 0; } }
      @media (max-width: 575px) {
        .footer-main-right {
          flex-wrap: wrap; } }
      .footer-main-right-list {
        margin-right: 7rem;
        list-style: none; }
        @media (max-width: 991px) {
          .footer-main-right-list {
            margin-right: 0; } }
        @media (max-width: 575px) {
          .footer-main-right-list {
            margin-bottom: 4rem;
            text-align: center;
            width: 50%; } }
        .footer-main-right-list-item-title {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.86;
          color: #454545; }
        .footer-main-right-list-item-link {
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.86;
          color: #696969; }
          .footer-main-right-list-item-link:hover, .footer-main-right-list-item-link:focus {
            text-decoration: underline; }
        .footer-main-right-list-item:not(:last-of-type) {
          margin-bottom: 1.6rem; }
  .footer-bottom-wrapper {
    background-color: #f5f5f5; }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0; }
    @media (max-width: 767px) {
      .footer-bottom {
        justify-content: center; } }
    .footer-bottom-list {
      display: flex;
      list-style: none; }
      .footer-bottom-list-item {
        padding: 0 .8rem; }
        @media (max-width: 767px) {
          .footer-bottom-list-item {
            padding: 0 1.6rem; } }
        .footer-bottom-list-item-link {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.86;
          color: #454545; }
          .footer-bottom-list-item-link:hover, .footer-bottom-list-item-link:focus {
            text-decoration: underline; }
        .footer-bottom-list-item-social {
          font-size: 2.6rem;
          color: #000; }
          .footer-bottom-list-item-social:hover, .footer-bottom-list-item-social:focus {
            color: #48bc20; }
        .footer-bottom-list-item a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center; }
  .footer-copyrights {
    background-color: #ebeaeb; }
    .footer-copyrights-text {
      padding: 1.2rem 0;
      font-size: 1.2rem;
      font-weight: 400;
      color: #454545; }
      @media (max-width: 767px) {
        .footer-copyrights-text {
          text-align: center; } }

.section-features-wrapper:nth-of-type(2n) {
  background-color: #f5f5f5; }

.section-features {
  padding: 8rem 0;
  display: flex;
  align-items: center;
  color: #1d1d1d; }
  @media (max-width: 991px) {
    .section-features {
      flex-direction: column; } }
  .section-features-main {
    padding-right: 3rem;
    width: 45%; }
    @media (max-width: 991px) {
      .section-features-main {
        padding-right: 0;
        width: 100%; } }
    .section-features-main-subtitle {
      margin-bottom: 2rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.73;
      letter-spacing: 0.15px;
      color: #141414; }
    .section-features-main-title {
      margin-bottom: 3.8rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 2.9rem;
      font-weight: 700;
      line-height: 1.31;
      letter-spacing: -0.44px; }
    .section-features-main-img {
      display: none; }
      @media (max-width: 991px) {
        .section-features-main-img {
          margin-bottom: 2rem;
          display: inline;
          width: 100%; } }
    .section-features-main-text {
      margin-bottom: 3.2rem;
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 1.37;
      letter-spacing: 0.18px; }
    .section-features-main-caption {
      margin-bottom: 1.2rem;
      font-size: 1.9rem;
      font-weight: 700;
      line-height: 1.42;
      letter-spacing: -0.19px; }
  .section-features-img {
    width: 55%; }
    @media (max-width: 991px) {
      .section-features-img {
        display: none; } }

.section-dashboard-wrapper {
  background-color: #f5f5f5; }

.section-dashboard {
  padding-top: 5.5rem;
  padding-bottom: 8rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }
  .section-dashboard-subtitle {
    margin-bottom: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.73;
    letter-spacing: 0.15px;
    color: #141414; }
  .section-dashboard-title {
    margin-bottom: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: -0.44px; }
  .section-dashboard-img {
    width: 100%; }

.section-info {
  padding-top: 6rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #1d1d1d; }
  .section-info-card {
    max-width: 46rem; }
    .section-info-card-title {
      margin-bottom: 1.2rem;
      font-size: 1.9rem;
      font-weight: 700;
      line-height: 1.42;
      letter-spacing: -0.19px; }
    .section-info-card-text {
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 1.37;
      letter-spacing: 0.18px; }

.section-pricing {
  margin-bottom: 9.3rem;
  margin-top: 4.2rem; }
  @media (max-width: 991px) {
    .section-pricing {
      padding: 0 7%; } }
  @media (max-width: 767px) {
    .section-pricing {
      padding: 0; } }
  .section-pricing-title {
    margin-bottom: 3.2rem;
    font-size: 4.7rem;
    font-weight: 700;
    letter-spacing: -0.47px;
    text-align: center;
    color: #1d1d1d; }
  .section-pricing-main {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 4px solid #48bc20;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff; }
    @media (max-width: 991px) {
      .section-pricing-main {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); } }
    @media (max-width: 575px) {
      .section-pricing-main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto); } }
    .section-pricing-main-card {
      padding: .5rem 2rem;
      display: flex;
      flex-direction: column;
      color: #1d1d1d;
      border-right: 1px solid #EBEAEB; }
      @media (max-width: 991px) {
        .section-pricing-main-card {
          padding-top: 2rem;
          border-bottom: 1px solid #EBEAEB; } }
      .section-pricing-main-card-title {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: .6rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.36; }
      .section-pricing-main-card-text {
        margin-bottom: 2.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43; }
      .section-pricing-main-card-price {
        margin-bottom: 1.9rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 0.77;
        color: #454545; }
        .section-pricing-main-card-price span {
          font-weight: 700; }
      .section-pricing-main-card .btn-primary {
        margin-bottom: 2.5rem;
        width: 100%;
        padding: 1.8rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: 0.3px; }
        @media (max-width: 575px) {
          .section-pricing-main-card .btn-primary {
            margin-top: auto;
            order: 6; } }
      .section-pricing-main-card-subtitle {
        margin-bottom: 2.2rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.43; }
      .section-pricing-main-card-list {
        margin-bottom: 2.6rem;
        list-style: none; }
        .section-pricing-main-card-list-item {
          padding: .8rem 0;
          display: flex;
          align-items: center; }
          .section-pricing-main-card-list-item-check {
            margin-right: .9rem;
            font-size: 1.1rem;
            color: #48bc20; }
          .section-pricing-main-card-list-item-text {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.43; }
      .section-pricing-main-card-link {
        text-decoration: none;
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
        color: #1264a3; }
        .section-pricing-main-card-link:hover, .section-pricing-main-card-link:focus {
          text-decoration: underline; }
